#header>#nav>#gnb {
    float: right;
}

#header>#nav>#gnb>li {
    float: left;
}

#header>#nav>#gnb>li>a {
    display: block;
    width: 100px;
    height: 40px;
    background-color: indianred;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    font-weight: bold;
}

#gnb li a:hover {
    background-color: #222328;
    color: #fff;
}

#lnb>li>a {
    display: block;
    width: 100px;
    height: 40px;
    background-color: indigo;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    font-weight: bold;
}

#lnb {
    display: none;
}